* {
margin: 0;
padding: 0;
font-family:"Poppins", sans-serif;
box-sizing: border-box;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}